* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    padding: 2%;
    justify-content: space-between;
    font-family: 'Zilla Slab', serif;
    background-color: white;

    transition: background-color 0.3s;
}

header:hover {
    background-color: #eb2632;
}

div[id="profile"] {
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 15px;
    font-size: 1.2rem;

    /* background-color: yellow; */
}

div[id="profile"] img {
    width: 15%;
    border-radius: 50%;
    margin-right: 25px;
}

nav {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 5px;
    font-size: 1.2rem;

    /* background-color: blue; */
}

nav a {
    text-decoration: none;
    color: #141010;
    transition: color 1s, font-weight 1s, font-size 1s;
}

nav a:hover {
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
}

#top-arrow {
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    font-size: 1.5rem;
}

.fa-arrow-up-long {
    color: black;
    border: 3px solid black;
    background-color: white;
    border-radius: 50%;
    padding: 12px 14px;

    transition: color 0.3s, background-color 0.3s, border 0.3s;
}

.fa-arrow-up-long:hover {
    background-color: black;
    border: 3px solid black;
    cursor: pointer;
    color: white;
}

#welcome-section {
    /* background-color: green; */
    text-align: center;
    padding: 9%;
}

#welcome-section h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#welcome-section p {
    width: 70%;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 60px;
}

#welcome-section .button a {
    text-decoration: none;
    color: #141010;
    background-color: #eb2632;
    padding: 1% 6%;
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;   
    border-radius: 10px;

    transition: color 0.3s, background-color 0.3s;
}

#welcome-section .button a:hover {
    color: white;
    background-color: #141010;   
}

#about-me h1 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 3.5rem;
}

#about-me p {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 60px;
}

#container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contained.one {
    /* background-color: orange; */
    width: 35%;
    margin: 0 5% 2%;
}

.contained h2  {
    font-family: 'Zilla Slab', serif;
    font-size: 3rem;
    margin-bottom: 30px;
}

.contained.one p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 4%;
}

.contained.one p:last-of-type {
    margin-bottom: 10%;
}

.contained .button a {
    text-decoration: none;
    color: #141010;
    background-color: #eb2632;
    padding: 2% 12%;
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;   
    border-radius: 10px;

    transition: color 0.3s, background-color 0.3s;
}

.contained .button a:hover {
    color: white;
    background-color: #141010;   
}

.contained.two {
    /* background-color: pink; */
    width: 30%;
    margin: 0 5%;
}

#skills {
    display: flex;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

#skills > div {
    background-color: #141010;
    color: white;
    margin-right: 15px;
    padding: 15px 20px;
    border-radius: 10px;
}

#Projects {
    padding-bottom: 10vh;
}

#Projects h1 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
    font-size: 3.5rem;
}

#Projects > p {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 60px;
}

#projects-list {
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: orange; */
}

.projects-item {
    border: solid 1px black;
    height: 300px;
    /* padding-bottom: 1rem; */
    margin: 10px;
}

.thumbnail {
    width: 100%;
    height: 200px;
}

#project-data {
    padding: 20px 23px;
    /* background-color: red; */
}

#project-name {
    font-family: 'Zilla Slab', serif;
    font-size: 1.5rem;
}

#project-link {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
}

#Contact h1, #Contact p {
    text-align: center
}

#Contact h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 3.5rem;   
}

#Contact p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    margin-bottom: 6vh;   
}

#form {
    /* background-color: pink; */
    width: 60%;
    margin: 0 auto;
}

#form-field-container {
    display: flex;
    justify-content: space-between;
}

.form-field {
    width: 46%;
}

.message {
    /* background-color: red; */
    width: 100%;
    display: block;
}

label {
    /* background-color: blue; */
    display: block;
    font-family: 'Zilla Slab', serif;
    font-size: 1.3rem;
    margin-bottom: 3vh;   
}

input {
    margin-bottom: 6vh;
    width: 100%;
    padding: 0 0 2vh 0;
    border-style: none;
    border-bottom: solid 1px black;
}

textarea {
    width: 100%;
    height: 5em; 
    border-style: none;
    border-bottom: solid 1px black;
    margin-bottom: 8vh;
}

::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

textarea:focus, input:focus{
    outline: none;
}

.form-button {
    display: flex;
    justify-content: center;
}

button {
    padding: 2vh 3vw;
    font-family: 'Zilla Slab', serif;
    font-size: 1.3rem;
    border-radius: 10px;
    border-style: none;
    background-color: #eb2632;
    color: #141010;
    margin-bottom: 8vh; 

    transition: color 0.3s, background-color 0.3s;
}

button:hover {
    color: white;
    background-color: #141010;   
    cursor: pointer;
}

footer {
    padding: 5vh 5vw 5vh 5vw;
    background-color: #141010;
    color: white;
}

#footer-data {
    width: 85%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#data {
    /* background-color: yellow; */
    width: 50%;
}

#data h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem;
    /* margin-bottom: 2vh; */
}

#data p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

.social-network-footer {
    font-size: 1.5rem;
    text-align: right;
    align-items: center;
    /* background-color: red; */
}

.social-network-footer h1 {
    font-family: 'Zilla Slab', serif;
    font-size: 2.5rem; 
}

.social-network-footer a {
    text-decoration: none;
}

.fa-brands {
    margin: 2vh 0 0 1.3vw;
    color: white;

    transition: color 0.5s;
}

.fa-brands:hover {
    color: #eb2632;
}

footer > p {
    /* background-color: green; */
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.3rem;
    padding-top: 5vh;
    width: 85%;
    margin: 5vh auto 0 auto;
    border-top: solid 1px white;
}

@media (max-width: 990px) {
    div[id="profile"] {
        width: 50%;
    }

    nav {
        width: 50%;
    }

    div[id="profile"] img {
        width: 55px;
        border-radius: 50%;
    }

    #skills {
        font-size: 1.2rem;
    }

    #projects-list {
        grid-template-columns: auto auto;
    }

    #form {
        width: 65%;
    }
}

@media (max-width: 890px) {
    #about-me h1, #Projects h1, #Contact h1 {
        font-size: 3rem;
    }

    #about-me p {
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    #container {
        display: block;
        margin-bottom: 20px;
        /* background-color: purple; */
    }

    .contained.one {
        width: 100%;
        margin: 0;
        padding: 7%;
        /* background-color: orange; */
    }

    .contained.one p, #Projects > p, #Contact p {
        font-size: 1.2rem;
    }
   
    .contained.two {
        width: 100%;
        margin: 0 0 10% 0;
        padding: 7%;
        /* background-color: pink; */
    }
    
    .contained h2  {
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    #form {
        width: 70%;
    }

    label {
        font-size: 1.2rem;
    }

    ::placeholder {
        font-size: 0.9rem;
    }
}

@media (max-width: 820px) {
    header {
        display: block;
        margin: 0 auto;
    }

    #profile {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    nav {
        margin: 4vh auto 2vh;
        width: 90%;
    }

    #welcome-section h1 {
        font-size: 4.8rem;
    }
    
    #welcome-section p {
        font-size: 1.4rem;
    }

    #form {
        width: 75%;
    }

    label {
        font-size: 1.1rem;
    }

    ::placeholder {
        font-size: 0.8rem;
    }

    #data {
        width: 60%;
    }
    
    .social-network-footer {
        width: 40%;
    }
    
    footer > p {
        font-size: 1.2rem;
    }
}

/* Projects, footer */
@media (max-width: 700px) {
    #about-me h1, #Projects h1, #Contact h1 {
        font-size: 2.5rem;
    }

    .contained h2 {
        font-size: 2rem;
    }

    #about-me p, .contained.one p, #Projects > p, #Contact p {
        font-size: 1rem;
    }

    #welcome-section h1 {
        font-size: 4.5rem;
    }
    
    #welcome-section p {
        font-size: 1.2rem;
    }

    #skills {
        font-size: 2.6vw;
    }

    #projects-list {
        grid-template-columns: auto;
    }

    /* Formulario */
    #form {
        width: 80%;
    }

    label {
        font-size: 1rem;
    }

    ::placeholder {
        font-size: 0.7rem;
    }

    /* Footer */
    #data h1, .social-network-footer h1 {
        font-size: 2rem;
    }
    
    #data p {
        font-size: 0.8rem;
    }
    
    .social-network-footer {
        font-size: 1rem;
    }
    
    footer > p {
        font-size: 1rem;
        padding-top: 5vh;
        width: 85%;
    }

}

/* Projects */
@media (max-width: 650px) {
    #welcome-section h1 {
        font-size: 3.75rem;
    }
    
    #welcome-section p {
        font-size: 1.1rem;
    }
}

@media (max-width: 540px) {
    /* Header */
    #profile {
        padding-top: 1vh;
        font-size: 1rem;
    }

    nav {
        margin: 4vh auto 2vh;
        font-size: 1.1rem;
    }

    nav a:hover {
        font-size: 1.1rem;
    }

    /* Font sizes */
    #about-me h1, #Projects h1, #Contact h1 {
        font-size: 2rem;
    }

    #welcome-section h1 {
        font-size: 3.5rem;
    }
    
    #welcome-section p {
        font-size: 1.1rem;
    }

    .contained h2 {
        font-size: 1.5rem;
    }

    #about-me p, .contained.one p, #Projects > p, #Contact p {
        font-size: 0.9rem;
    }

    #about-me p, #Contact p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Form */
    #form-field-container {
        display: block;
    }
    
    .form-field {
        width: 100%;
    }
    
    /* Footer */
    #footer-data {
        display: block;
    }

    #data, .social-network-footer {
        width: 100%;
    }

    #data {
        margin-bottom: 2vh;
    }
    .social-network-footer {
        margin-bottom: 4vh;
    }

    footer > p {
        padding-top: 4vh;
        width: 85%;
        margin: 2vh auto 0 auto;
        border-top: solid 1px white;
    }
}

@media (max-width: 390px) {
    /* Header */
    #profile {
        padding-top: 1vh;
        font-size: 0.85rem;
    }
    
    nav {
        margin: 4vh auto 2vh;
        font-size: 1rem;
    }

    nav a:hover {
        font-size: 1rem;
    }

    #project-name {
        font-size: 1.3rem;
    }
    
    #project-link {
        font-size: 0.9rem;
    }
}
